/*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
/* html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0} */
/*OOper jo bhi likha hai wo browser ki saari settings hata dega and hume khud ka sab (margin, padding, size and everything) set karna padega */


::selection {
  background-color: skyblue;
  color: peachpuff;
}

body {
  background-image: url('../Images/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 0.01em;
  font-weight: 300;
}

.h1 {
  font-family: 'Lobster', Helvetica, sans-serif;
  font-size: 55px;
  text-align: center;
  color: yellowgreen;
}
h2 {
  font-weight: 500;
  font-family: 'Lobster', Helvetica;
  font-size: 25px;
  color: purple;
}
.main-div {
  justify-content: space-around;
  display: flex;
  width:100%;
}
.montreux {
font-family: 'lobster';
color: green;
background-image: url('../Images/Montreux.jpg');
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
width: 400px;
height: 500px;
}
.zurich {
  font-family: 'lobster';
  color: green;
  background-image: url('../Images/Zurich.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 400px;
  height: 500px;
}
.bern {
    font-family: 'lobster';
    color: green;
    background-image: url('../Images/Bern.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 400px;
    height: 500px;
    }

a {
  text-decoration: none;
  color: green;
}
p {
  font-family: 'lobster';
  color: lightcoral;
}
.foot-down{
  font-family: 'lobster', 'sans-serif';
  font-size: 1em;
  color: grey;
  text-align: right;
}

.second-div{
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.second-div1 {
  font-family: 'lobster';
  color: green;
  background-image: url('../Images/Basel.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 400px;
  height: 500px;
}

.second-div2{
  font-family: 'lobster';
  color: green;
  background-image: url('../Images/Geneva.JPG');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 432px;
  height: 500px;
}

.second-div3{
  font-family: 'lobster';
  color: green;
  background-image: url('../Images/Ticino1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 405px;
  height: 500px;
}
.button-container {
  display: flex;
  justify-content: center;
}

#button {

  text-transform: uppercase;
  letter-spacing: 0.08em;
  cursor: pointer;
  font-weight: 540;
  text-align: center;
  font-family: 'losbter';
  font-size: 2.05em;
  background-color: transparent;
  border: 1.5px solid green;
  border-radius: 10px;
  min-width: 50%; 
}